body {
  font-family: Verdana, sans-serif;
  background-color: #f5f5f5;
  text-align: left;
  padding-top: 50px;
}

button {
  padding: 10px 20px;
  font-size: 20px;
}

label {
    text-align: left;
    padding: 10px 20px;
    font-size: 20px;
  }
  